

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment 5</title>
    <style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
    th, td {
    padding: 5px;
    text-align: left;width: 50px

}
</style>
</head>
<body>
    <h1>Weather for Zip Code 30060: </h1>
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Current Temperature</th>
            <th>Atmospheric Pressure</th>
            <th>Wind Speed</th>
            <th>Wind Direction </th>
            <th>Time of Report</th>
        </tr>
        <tr>
            <td>Marietta</td>
            <td>42.23 degrees Fahrenheit</td>
            <td>1014 hPa</td>
            <td>8.05 mph</td>
            <td>290</td>
            <td>2017-12-09 09:41:00</td>
        </tr>
    </table>
    <p></p>
<input type="button" value="Go Back" onclick="window.history.back()" style="background: yellow; font-size:35px;"/>
</body>
</html>
